[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "python manage.py runserver"
