d {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontología</title>
    <link rel="stylesheet" href="{% static 'patients/css/styles.css' %}">
    <link href="{% static 'patients/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/home/Index.html">Inicio</a>
                  <a class="nav-link" href="/home/contacto.html">Contactos</a>
                  <a class="nav-link" href="/home/servicios.html">Servicios</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <div class="presentacion">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="frase">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores sed repellendus, consequuntur tempora aperiam similique quae nisi quos fuga aspernatur, at eaque accusantium esse, reiciendis nemo nulla dicta perspiciatis?</p>
          </div>
          <div class="col">
            <img src="../imgs/img1.jpg" alt="img1" class="img1">
          </div>
      </div>
    </div>
    </div>
    <div class="Contacto">
      <div class="container">
        <div class="row">
          <div class="col"> 
            <img src="../imgs/img2.webp" alt="img2" class="img2">
          </div>
          <div class="col">
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maiores sed repellendus, consequuntur tempora aperiam similique quae nisi quos fuga aspernatur, at eaque accusantium esse, reiciendis nemo nulla dicta perspiciatis?</p>
          </div>
      </div>
    </div>
  <div id="servicios">
    <div class="container">
      <div class="row align-items-start" class="caja">
        <div class="col">
           <img class="img3" src="/imgs/img3.jpg" alt="img3">
        </div>
        <div class="col">
          <p class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, neque. Iure reiciendis ducimus voluptas nostrum quia sint consequatur</p>
         </div>
       </div>
       <div class="row align-items-center" class="caja">
        <div class="col">
          <p class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, neque. Iure reiciendis ducimus voluptas nostrum quia sint consequatur</p>
        </div>
        <div class="col">
          <img class="img4" src="/imgs/img4.jpg" alt="img4">
        </div>
       <div class="row align-items-center" class="caja">
        <div class="col">
          <img class="img5" src="/imgs/img5.jpg" alt="img5">
        </div>
        <div class="col">
          <p class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, neque. Iure reiciendis ducimus voluptas nostrum quia sint consequatur</p>
        </div>
      </div>
      </div>
      </div>
    </div>
    <div class="container"></div>

</body>
<footer>

</footer>
<script src="/home/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>