:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
.presentacion{
    background-color: #3676ff;
}
.frase{
    text-align: center;
    color: white;
    font-size: 38px;
    text-decoration:bold;
}
.p1{
    color: white;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    text-align: center;
}
.Inicio{
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-right: 400px;
}
.img1{
    display: grid;
    place-content: center;
    height: 80vh;
    width: 80vw;
    margin: 10px 10px;
    border-radius: 20px;
}
.img1c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    padding: 5px;
    display: grid;
    place-content: center;
    height: 65vh;
    border-radius: 20px;
}
.p2{
    text-align: center;
    font-size: 20px;
}
.pc2{
    display:flex;
    align-items: center;
    justify-content: center;
}

.p3{
    color: white;
    text-align: center;
    font-size: 17px;
}

.img3{
    padding: 10px;
    height:200px !important;
    border-radius: 20px;
}
.img4{
    font-size: 20px;
    padding: 10px;
    height: 200px !important;
    border-radius: 20px;

}
.img5{
    padding: 10px;
    height: 200px !important;
    border-radius: 20px;
}

#servicios{
    margin: 10px 20px 10px 20px;
    background-color:#3676ff !important;
    margin-inline: 15px #3676ff!important;
    border-radius: 40px !important;
}
.casilla{
    background-color: #3676ff !important;
}

.cmaps{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.maps{
    background-color: rgb(0, 0, 0);
    height: 75vh;
    width: 90vw;
}